# KubuCashier Environment Configuration Example

# Authentication & Admin Security
PASSWORD=testing

# Display & Kiosk Configuration
FULLSCREEN=false
OPEN_IN_MONITOR=1
BLACK_OTHER_MONITORS=false

# Customer Facing Display (CFD) / Second Monitor
CUSTOMER_DISPLAY_ENABLED=true
CUSTOMER_DISPLAY_MONITOR=2

# Payment Options Toggles
PAYMENT_CASH=true
PAYMENT_QRIS=true
PAYMENT_DEBIT=false
PAYMENT_DEBT=false

# Dynamic QRIS Configuration
QRIS_STATIC_PAYLOAD=00020101021126600014ID.LINKAJA.WWW01189360091100200025980208102000250303UMI51440014ID.CO.QRIS.WWW0215ID10200210025980303UMI5204581253033605802ID5911KUBU CASHIER6007JAKARTA61051234062070703A016304E67E

# UI Language (en / id)
LANGUAGE=id
